html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.container {
  padding: 1rem;
}

.paper {
  width: 100%;
  padding: 1rem;
}

.table-box {
  margin-bottom: 16px;

  table tbody tr {
    cursor: pointer;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hrz-center {
  display: flex;
  justify-content: center;
}

.txt-center {
  text-align: center;
}
